html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  margin: 0px;
  /* padding: 12px; */

  /* background: orange; */

}

.screenInfoContainer {
  box-sizing: border-box;
  display: grid;

  height: 100%;

  padding: 30px 50px 30px 50px;

  grid-template-columns: minmax(auto, 12%) repeat(3, 1fr) minmax(auto, 12%);
  /* grid-template-rows: 8% minmax(auto, 60%) min-content; */
  grid-template-rows: min-content auto min-content;

  grid-gap: 0px 0px;

  grid-template-areas:
                    "pn pn pn pn pn"
                    "lp sg sg sg rp"
                    "di di sp sp rp";
}

.presentationName {
  box-sizing: border-box;

  grid-area: pn;

  justify-self: center;
  align-self: center;

  font-family: 'PTSans';
  font-size: 20px;
}

.screenTopPaddingContainer {
  grid-area: tp;
}

.screenTopLeftPaddingContainer {
  grid-area: lp;
}

.screenTopRightPaddingContainer {
  grid-area: rp;
}

.screenGridContainer {
  box-sizing: border-box;
  display: grid;

  margin: 0px;
  padding: 0px 0px 50px 0px;

  grid-area: sg;

  grid-auto-rows: 1fr;

  grid-gap: 1px 1px;
}

.screenGridContainer .screenGridItemContainer {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: flex-start;

  border: 2px solid black;
  justify-self: stretch;
}

.screenGridContainer .selectedScreenGridItemContainer {
  box-sizing: border-box;
  display: flex;

  border-color: #9800FE;
  background-color: #9800FE;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: flex-start;

  border: 2px solid black;
  justify-self: stretch;
}

.screenGridContainer .selectedScreenGridItemContainer .indexContainer {
  box-sizing: border-box;
  flex-basis: auto;

  flex-grow: 0;
  flex-shrink: 0;

  font-family: 'PTSans';
  font-size: 16px;
}

.screenGridContainer .screenGridItemContainer .indexContainer {
  box-sizing: border-box;
  flex-basis: auto;

  flex-grow: 0;
  flex-shrink: 0;

  font-family: 'PTSans';
  font-size: 16px;
}

.screenInfoContainer .deviceInfoContainer {
  box-sizing: border-box;
  display: flex;
  
  grid-area: di;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.screenInfoContainer .deviceInfoContainer .deviceInfoRow {
  box-sizing: border-box;

  padding-top: 20px;
}

.screenInfoContainer .deviceInfoContainer .deviceInfoRow:first-child {
  padding-top: 0px;
}

.screenInfoContainer .deviceInfoContainer .deviceInfoRow .deviceInfoLabel {
  box-sizing: border-box;
  display: inline-block;

  font-family: 'PTSans';
  font-size: 20px;
}

.screenInfoContainer .deviceInfoContainer .deviceInfoRow .deviceInfoValue {
  box-sizing: border-box;
  display: inline-block;

  padding-left: 15px;

  font-family: 'PTSans';
  font-size: 20px;
}

.screenInfoContainer .screenPositionInfoContainer {
  box-sizing: border-box;

  grid-area: sp;

  align-self: center;

  font-family: 'PTSans';
  font-size: 50px;
}

.screenInfoContainer .screenPositionInfoContainer .screenNameLabel {
  box-sizing: border-box;
  display: inline-block;

  vertical-align: middle;

  font-family: 'PTSans';
  font-size: 20px;
}

.screenInfoContainer .screenPositionInfoContainer .screenNameValue {
  box-sizing: border-box;
  display: inline-block;

  padding-left: 100px;

  vertical-align: middle;

  font-family: 'PTSans';
  font-size: 50px;
}


.App {
  background: lightblue;
  min-height: 100%;
  color: white;
  font-family: 'PTSans';
  text-align: center;
}

.bodyDiv {
  margin-top: 0;
}

.bold {
  font-weight: bold
}

.testAlignmentScreenContainer {
  box-sizing: border-box;
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: aquamarine;
}
